.footer {
  display: flex;
  gap: 1em;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto;
}

.footer .doormat,
.footer .contacts,
.footer .social-media {
  display: flex;
  gap: 1em;
  width: 100%;
  justify-content: center;
}

.footer .contacts,
.footer .social-media {
  flex-direction: column;
}

.footer .doormat .image-wrapper {
  max-width: 30%;
}

.footer img {
  width: 100%;
  object-fit: cover;
}
.footer h4 {
  margin-bottom: 0.5rem;
  color: var(--black);
}
.footer .nav-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style: none;
}

.footer li:hover {
  text-decoration: underline;
  cursor: pointer;
}
