.specials {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding-inline: 10vw;
  padding-block: calc(48px + 1.5625vw);
}

.specials header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin-bottom: calc(48px + 1.5625vw);
}

.specials .cards {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.specials .card {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem 1rem 0 0;
}

.specials .card img {
  width: 100%;
  object-fit: contain;
  border-radius: 1rem 1rem 0 0;
}

.specials .card .wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* padding: 1rem; */
}
.specials .card-title {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.specials .delivery {
  width: 100%;
  text-align: left;
}

.specials .cards {
  flex-direction: column;
}
@media (min-width: 768px) {
  .specials .cards {
    flex-wrap: wrap;
    flex-direction: row;
  }
}
