.customers-say {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  padding-inline: 10vw;
  padding-block: calc(48px + 1.5625vw);
}
.customers-say .cards {
  display: grid;
  grid-template-columns: auto;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.customers-say .card {
  display: flex;
  /* width: 20%; */
  flex-direction: column;
  flex: 1;
  gap: 1em;
  padding: 1em;
}
.customers-say .card .wrapper {
  display: flex;
  gap: 1em;
  align-items: center;
}

.customers-say .card img {
  /* display: block; */
  width: 100%;
  object-fit: contain;
  /* overflow: hidden; */
}

@media (min-width: 768px) {
  .customers-say .cards {
    grid-template-columns: auto auto auto auto;
  }
}
