* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Markazi Text'; */
  font-family: 'Karla';
}

:root {
  --green: #495e57;
  --yellow: #f4ce14;
  --black: #333333;
  --gray: #edefee;
}

.title,
.subtitle {
  font-family: 'Markazi Text';
}
.title {
  font-size: 4rem;
  font-weight: bold;
}
.subtitle {
  font-size: 3.3333rem;
  font-weight: normal;
}

.lead-text {
  font-family: 'Karla';
  font-size: 1.5rem;
  font-weight: bold;
}

.fg-yellow {
  color: var(--yellow);
}

.bg-yellow {
  background-color: var(--yellow);
}

.fg-black {
  color: var(--black);
}

.bg-green {
  background-color: var(--green);
}

.button {
  font-family: 'Karla';
  font-weight: bold;
  font-size: 1rem;
  border-radius: 16px;
  width: fit-content;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border: none;
}

.nav-list li {
  font-size: 1rem;
  font-weight: bold;
  padding: 0.625rem;
  border-radius: 1rem;
}

.nav-list li:hover {
  background-color: var(--yellow);
}

.button:hover {
  background-color: var(--gray);
}
.container {
  height: 100vh;
  border: 5px solid green;
}
.main-header {
  padding: 1rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0.625rem;
  align-self: center;
  list-style: none;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: var(--black);
}

.call-to-action {
  display: flex;
  gap: 2rem;
  height: 50vh;
  justify-content: space-around;
  padding: 0 10%;
  color: white;
}

.call-to-action > div {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
}

.call-to-action p {
  margin: 1rem 0;
}
.call-to-action .image-container {
  position: relative;
  height: 70%;
  align-self: center;
}

.call-to-action img {
  object-fit: cover;
  height: 100%;
}

.call-to-action .button {
  margin-top: 1rem;
}

.footer {
  padding: 1rem;
  background-color: blueviolet;
}
