* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Markazi Text'; */
  font-family: 'Karla';
}

:root {
  --green: #495e57;
  --yellow: #f4ce14;
  --black: #333333;
  --gray: #edefee;
  --red: #ee9972;
}

/* header, */
section,
footer {
  padding: 4rem 16rem;
}
.title,
.subtitle {
  font-family: 'Markazi Text';
}
.title {
  font-size: 4rem;
  font-weight: bold;
}
.subtitle {
  font-size: 3.3333rem;
  font-weight: normal;
}
.card-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.highlight-text {
  font-size: 1.3333rem;
  font-weight: bold;
}
.lead-text {
  font-family: 'Karla';
  font-size: 1.5rem;
  font-weight: bold;
}

.fg-yellow {
  color: var(--yellow);
}

.fg-green {
  color: var(--green);
}

.bg-yellow {
  background-color: var(--yellow);
}

.fg-black {
  color: var(--black);
}

.bg-green {
  background-color: var(--green);
}

.fg-red {
  color: var(--red);
}

.bg-gray {
  background-color: var(--gray);
}

.button {
  font-family: 'Karla';
  font-weight: bold;
  font-size: 1rem;
  border-radius: 16px;
  width: fit-content;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border: none;
}

header .nav-list li {
  font-size: 1rem;
  font-weight: bold;
  padding: 0.625rem;
  border-radius: 1rem;
}

header .nav-list li:hover {
  background-color: var(--yellow);
}

.button:hover {
  background-color: var(--gray);
}

.container {
  /* padding: 0 1em; */
  margin: 0 auto;
}
.main-header {
  padding: 1rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0.625rem;
  align-self: center;
  list-style: none;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: var(--black);
}

.call-to-action {
  display: flex;
  gap: 2rem;
  color: white;
}

.call-to-action .right,
.call-to-action .left {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.call-to-action p {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.call-to-action img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.specials {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.specials header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
}

.specials .cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.specials .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem 1rem 0 0;
}

.specials .card img {
  width: 100%;
  object-fit: contain;
  border-radius: 1rem 1rem 0 0;
}

.specials .card .wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
.specials .card-title {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.specials .delivery {
  width: 100%;
  text-align: left;
}

.customers-say {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  justify-content: center;
  align-items: center;
}
.customers-say .cards {
  display: flex;
  width: 100%;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.customers-say .card {
  display: flex;
  width: 20%;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
}
.customers-say .card .wrapper {
  display: flex;
  gap: 1em;
  align-items: center;
}

.customers-say .card img {
  display: block;
  width: 50%;
  object-fit: contain;
  overflow: hidden;
}
.chicago {
  display: flex;
  gap: 2rem;
  color: white;
}

.chicago .right,
.chicago .left {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.chicago .right {
  padding: 1em;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.chicago p {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.chicago img {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
}

.chicago .img1-wrapper {
  position: relative;
  width: 100%;
  top: 2em;
  left: 2em;
}
.chicago .img2-wrapper {
  position: relative;
  width: 100%;
  top: -2em;
  left: -2em;
}

.footer {
  display: flex;
  gap: 1em;
  justify-content: space-between;
  align-items: flex-start;
}

.footer h4 {
  margin-bottom: 0.5rem;
  color: var(--black);
}
.footer .nav-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style: none;
}

.footer li:hover {
  text-decoration: underline;
  cursor: pointer;
}

@media (width <= 40em) {
  section {
    padding: 1rem;
  }
  .specials .cards {
    flex-wrap: wrap;
  }
  .customers-say .card {
    width: 40%;
  }
}
