* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Markazi Text';
}
h1 {
}
p {
  font-family: 'Karla';
  font-weight: normal;
}
.container {
  height: 100vh;
  width: 100%;
  border: 5px solid green;
}
.header {
  padding: 1.5rem;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
}
.header img {
  padding: 1rem;
}
.nav {
  padding: 1rem;
  overflow: hidden;
}
.nav ul {
  align-self: center;
  list-style: none;
  display: flex;
}

.nav li {
  padding: 1.5rem;
}
.main {
  padding: 20px;
  background-color: blanchedalmond;
}
.footer {
  padding: 20px;
  background-color: blueviolet;
}
